label{
  opacity: 20%;
  color: rgb(216, 199, 199);
}


fieldset legend{
  color: #2e313d;
}
input{
  opacity: 50%;
}
textarea {
  opacity: 20%;
}

.top {
  margin-top: 15px;
}







footer {
  align-items: flex-start;
  padding: 0;
  margin: 0;
  margin-bottom: 70px;
  margin-right: 190px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrar horizontalmente */
  justify-content: center; /* Centrar verticalmente */
  text-align: center; /* Para centrar el texto dentro de los elementos */
  margin-left: 25px;
}

.footer h3 {
  margin-bottom: 10px; /* Agregar un pequeño espacio entre el h3 y el ul */
}

.footer ul {
  display: flex;
  list-style: none;
  align-items: flex-start;
  padding: 0;
  margin: 0;
}


.fab{

  color: #575F7D;
}



.button-nav-f a {
  color: #2e313d;
}
