.formulario {
  background-color:#7a8c93; ;
  padding: 20px;
  border-radius: 20px; /* Ajusta este valor para cambiar el radio de los bordes */
  width: 400px; /* Ajusta el ancho del formulario según tus necesidades */
  margin: 0 auto; /* Centra el formulario horizontalmente en su contenedor */
  line-height: -33px;

}
